* {
    outline: none !important
}

.wrapper-calendar {
    height: auto;
    width: auto;
    margin: 1rem;
    padding: .5rem;
    border: solid 1px #eaeaea;
    box-shadow: 0 0 10px #e4e4e4;
}

div {
    text-align: center;
    width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 0;
}

li {
    padding: .25rem;
    font-size: 50px;
    cursor: pointer;
}

li:hover {
    font-weight: 600;
}

.first-day {
    grid-column-start: var(--first-day-start, 0);
}

.day-name {
    background: #eee;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 2px;
    padding: 4px;
    text-align: center;
}

.header-calendar {
    justify-content: center;
    font-size: xx-large;
    display: inline-flex;
    align-items: center;
    align-content: center;
}

.header-calendar h1 {
    width: 100%;
    font-size: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.header-calendar button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

#button{
    width: auto;
}